# Introdução à Ciência de Dados - UFPB
* Professor: Yuri Malheiros
* Aluno: Daniel Arnóbio Dantas da Silva
* Matrícula: 20200141276


## Pandas

A partir do dataset `movies.csv` utilize o Pandas para responder as perguntas:

In [22]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/yurimalheiros/icd/master/datasets/movies.csv')

### Qual o gênero de filme com maior nota do IMDB? E o menor?

In [23]:
df.sort_values('IMDB Rating', ascending= False).head(1)

,Title,US Gross,Worldwide Gross,US DVD Sales,Production Budget,Release Date,MPAA Rating,Running Time (min),Distributor,Source,Major Genre,Creative Type,Director,Rotten Tomatoes Rating,IMDB Rating,IMDB Votes
841,The Shawshank Redemption,28241469.0,28241469.0,NaN,25000000.0,23-Sep-94,R,NaN,Sony Pictures,Based on Book/Short Story,Drama,Historical Fiction,Frank Darabont,88.0,9.2,519541.0

In [24]:
df.sort_values('IMDB Rating').head(1)

,Title,US Gross,Worldwide Gross,US DVD Sales,Production Budget,Release Date,MPAA Rating,Running Time (min),Distributor,Source,Major Genre,Creative Type,Director,Rotten Tomatoes Rating,IMDB Rating,IMDB Votes
1247,Super Babies: Baby Geniuses 2,9109322.0,9109322.0,NaN,20000000.0,27-Aug-04,PG,NaN,Sony Pictures,Original Screenplay,Comedy,Kids Fiction,NaN,NaN,1.4,10886.0

### Qual o diretor dirigiu mais filmes de drama? E de comédia?

In [25]:
df_drama = df[df['Major Genre']== 'Drama']

In [26]:
df_drama.value_counts('Director').head(1)

Director
Martin Scorsese    11
dtype: int64

In [27]:
df_comedia = df[df['Major Genre']== 'Comedy']

In [28]:
df_comedia.value_counts('Director').head(1)

Director
Woody Allen    10
dtype: int64

### Quais filmes tiverem os maiores arrecadações (Gross) em relação ao orçamento de produção (Budget)?

In [29]:
df_arrec = df[['Title', 'Worldwide Gross', 'Production Budget']]

In [30]:
df_arrec.sort_values('Worldwide Gross', ascending= False)

,Title,Worldwide Gross,Production Budget
1234,Avatar,2.767891e+09,237000000.0
2970,Titanic,1.842880e+09,200000000.0
2202,The Lord of the Rings: The Return of the King,1.133027e+09,94000000.0
2507,Pirates of the Caribbean: Dead Man's Chest,1.065660e+09,225000000.0
2987,Toy Story 3,1.046341e+09,200000000.0
...,...,...,...
266,Death Race 2000,NaN,300000.0
404,Hell's Angels,NaN,4000000.0
467,Intolerance,NaN,385907.0
1025,Waterloo,NaN,25000000.0
1028,Wings,NaN,2000000.0

In [31]:
df_arrec['Profit'] = df_arrec['Worldwide Gross']/df_arrec['Production Budget']

C:\Users\nield\AppData\Local\Temp\ipykernel_4896\2937832258.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_arrec['Profit'] = df_arrec['Worldwide Gross']/df_arrec['Production Budget']

In [32]:
df_arrec.sort_values('Profit', ascending= False).head(10)

,Title,Worldwide Gross,Production Budget,Profit
2526,Paranormal Activity,193770453.0,15000.0,12918.030200
2920,Tarnation,1162014.0,218.0,5330.339450
244,Deep Throat,45000000.0,25000.0,1800.000000
603,Mad Max,99750000.0,200000.0,498.750000
2758,Super Size Me,29529368.0,65000.0,454.297969
132,The Brothers McMullen,10426506.0,25000.0,417.060240
1318,The Blair Witch Project,248300000.0,600000.0,413.833333
531,El Mariachi,2040920.0,7000.0,291.560000
651,Night of the Living Dead,30000000.0,114000.0,263.157895
781,Rocky,225000000.0,1000000.0,225.000000